/* what we do */

.what-we-do__container {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.what-we-do-main {
    display: flex;
    gap: 24px;
}

.what-we-do-main .little-line {
    width: 72px;
    height: 0px;
    border: 2px solid #1d2130;
    margin-top: 7px;
}

.what-we-do-main-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.what-we-do-main-intro {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d2130;
}

.what-we-do-main-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #1d2130;
    max-width: 461px;
}

.what-we-do-main-paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
    max-width: 594px;
}

.what-we-do-image-container {
    display: flex;
    max-width: 480px;
    /* max-height: 384px; */
}

.what-we-do-image-container img {
    border-radius: 12px;
    width: 100%;

}


/* environment */
.environment{

}
.environment__container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.environment-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #1d2130;
}

.environment-projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}

.environment-project {
    display: flex;
    gap: 24px;
}

.environment-project-main {
    display: flex;
    flex-direction: column;
    max-width: 332px;
    gap: 8px;
}

.environment-project-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1d2130;
}

.environment-project-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #525560;
}

.environment-logo-container img {
    width: 28px;
    height: 28px;
}